.body-book {
  &.artes {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_ART.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.biologia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_BIO.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }

  &.filosofia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_FIL.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }

  &.fisica {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_FIS.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.geografia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_GEO.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.historia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_HIS.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.lingua_inglesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_ING.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.lingua_portuguesa {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_POR.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.matematica {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_MAT.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.producao_de_texto {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_PXT.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.quimica {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_QUI.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  &.sociologia {
    background-image: url('https://livro-digital.p4ed.com/assets/icons/lumen/LUMEN_SOC.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

  }

}