/* Container component style*/
.container_questao_vf_v2 {
    margin-top: 12px;
    width: 100%;
  
    display: grid;
    grid-template-columns: min-content auto;
    gap: 16px;
  
    color: #000000;
    font-family: 'Noticia Text';
  
    padding-top: 1px;
    font-weight: 700;
    font-size: 18px;
  
    [doc-container] :first-child{
      margin-top: 0px !important;
    }
  
    [doc-container]:empty{
      background: #fff0f0 !important;
    }
  
    .num_vf1_2 {
      font-family: 'Noticia Text';
      max-width: 35px;
      max-height: 31px;
      resize: none;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      color: #000000;
      margin: 0px 0px 0px 4px;
      float: left;
      display: flex;
      justify-content: center;
      border-color: lightgray;
    }
  }