.css_02_texto_bullet {
  display: block;
  font-size: 18px;
  color: #000000;
  font-family: 'Noticia Text';
  font-weight: 400;
  line-height: 1.5em;

  ul li {
    font-size: 18px;
    font-family: 'Noticia Text';
    font-weight: 400;
    margin: -8px 0px -8px 50px;
    line-height: 1.5em;
    padding-left: 4px;
  }
}