.css_03_exercicio_alternativa_assinalar {
  margin-top: 16px;

  font-family: $fontName;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;
  align-items: baseline;

  padding-inline-start: 41px;
}