.css_03_2exercicio_alternativa_edit {
  margin-top: 16px;

  font-family: $fontPrincipal;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;

  padding-inline-start: 41px;
}