.css_03_exercicio_container_edit {
  margin-top: 31px;

  position: relative;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 8px;

  font-family: $fontName;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;
  align-items: baseline;

  .content_number {
    width: 34px;

    .background_number {
      width: 34px;
      height: 24px;


      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;


      .number_exercicio {
        font-family: $fontName;
        font-weight: 700;
        font-variant: tabular-nums;
        font-size: $fontSizeIndiceQuestion;
      }
    }
  }

  .group_exercicio {
    margin: 0;

    &::first-child {
      margin: 0;
    }
  }

  &.artes {
    .background_number {
      font-weight: 700;

      .number_exercicio {
        color: #64428C;
        border-bottom: solid 3px #bfd730;
      }

    }
  }

  &.lingua_inglesa {
    .background_number {
      font-weight: 700;

      .number_exercicio {
        color: #069891;
        border-bottom: solid 3px #bfd730;
      }
    }
  }

  &.lingua_portuguesa {
    .background_number {
      font-weight: 700;

      .number_exercicio {
        color: #c9252c;
        border-bottom: solid 3px #bfd730;
      }
    }
  }

  &.matematica {
    .background_number {
      font-weight: 700;

      .number_exercicio {
        color: #1961AC;
        border-bottom: solid 3px #F1CB40;
      }
    }
  }
}