.css_00_licenciamento_texto_terceiro {

  /* Características do texto */
  font-family: $fontName;
  font-weight: 400;
  font-size: 14px;
  color: $multimidia;

  /* Características do fundo */
  background-color: $cinza;

  /* Características do componente */
  display: block;

}