.css_02_texto_destaque {
  display: block;
  color: #FFFFFF;
  font-size: 60px;
  font-family: 'Barlow Condensed';
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  line-height: 1.5em;
}