.css_01_texto_unid {

  /* Características do texto */
  font-family: $fontName;
  font-weight: 300;
  font-size: 18px;
  color: $preto;

  /* Características do componente */
  display: block;
  line-height: 1.5em;
  margin: 24px 0px;

}