.css_02_texto_definicao {
  display: block;
  text-align: center;
  font-size: 18px;
  color: $textColor;
  font-family: 'Noticia Text';
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px #ddd;
}