.css_06_boxe_texto1 {
  display: block;
  font-size: 16px;
  color: $textColor !important;
  font-family: 'Noticia Text';
  font-weight: 400;
  line-height: 1.5em;

  &.artes {
    color: $seg_lin_cor2;
  }

  &.lingua_inglesa {
    color: $seg_lin_cor2;
  }

  &.lingua_portuguesa {
    color: $seg_lin_cor2;
  }

  &.matematica {
    color: $seg_mat_cor2;
  }
}