.css_10_finais_exercicio_bullet {
  ul li{
    display: block;
    text-align: left;
    font-size: 18px;
    color: #000;
    font-family: $font-proximaNova-light;
    padding-left: 10px;
    margin: 16px 0px 16px 0px;
  }
}