.css_06_boxe_bullet {
  display: block;
  font-family: 'Noticia Text';
  font-weight: 400;
  color: $seg_lin_cor2;
  line-height: 1.5em;
  font-size: 16px;
  margin: 0px 0px 0px 12px;
  
  ul {
    list-style-type: disc;
    margin: 0px;
  }
  li {
    padding-left: 12px;
  }
}