.css_05_fonte_mapa {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  padding: 0px 68px 0px 108px;
}

