.css_03_exercicio_alternativa_assinalar_itens {
  margin-top: 16px;

  font-family: $fontName;
  font-weight: 300;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;
  align-items: baseline;


  list-style: none;
  position: relative;

  .group_item :first-child{
    margin-top: 0 !important;
  }

  &::after {
    font-family: $fontName;
    font-size: 20px;
    font-weight: 600;
    content: "(";
    position: absolute;
    left: -32px;
    top: 0;
  }

  &::before {
    font-family: $fontName;
    font-size: 20px;
    font-weight: 600;
    content: ")";
    position: absolute;
    left: -16px;
  }
}