.css_03_exercicio_alternativa_edit {
  margin-top: 16px;

  font-family: $fontName;
  font-weight: 400;
  color: $textColor;
  line-height: 1.5em;
  font-size: $fontSizeQuestion;

  padding-inline-start: 41px;
}