.css_01_bullet_unid {

  /* Características do texto */
  font-family: $fontName;
  font-weight: 500;
  font-size: 16px;
  color: $branco;

  /* Características do componente */
  display: block;
  margin-bottom: 0px 28px 24px 0px;
  line-height: 1.8em;
  border-left: solid 2px $branco;
  padding-left: 10px;

  /* Características do bullet */
  &._right {
    float: right;
    clear: right;
    width: 44%;
    margin-left: 24px;
    z-index: 1;
  }

}