.css_01_titulo4 {

  /* Características do texto */
  font-family: $fontName;
  font-weight: 800;
  font-size: 20px;
  color: $preto;

  /* Características do componente */
  display: block;
  margin-top: 15px;
  padding: 0 68px;
  margin-bottom: 0px;
  line-height: 1.5em;

}