/* Image component style */
.image2 {
  margin: 12px auto;
  position: relative;
  clear: both;
  display: flex;
  flex-direction: column;
  width: 100%;

  ._image {
    width: 100%;
  }

  &._fit_content {
    width: fit-content;
  }

  &._fit_content_margin_auto {
    width: fit-content;
    margin: auto;
  }

  .slider-subtitle {
    position: relative;
    margin-top: 8px;
  }

  .slider-subtitle::before {
    content: "";
    height: 2px;
    width: 26%;
    position: absolute;
    left: 0;
    top: -4px;
  }

  &.artes {
    .slider-subtitle::before {
      background-color: $seg_lin_cor1;
    }
  }

  &.lingua_portuguesa {
    .slider-subtitle::before {
      background-color: $seg_lin_cor1;
    }
  }

  &.lingua_inglesa {
    .slider-subtitle::before {
      background-color: $seg_lin_cor1;
    }
  }

  &.matematica {
    .slider-subtitle::before {
      background-color: $seg_mat_cor1;
    }
  }

  &._left {
    margin-left: 0px;
  }

  &._right {
    margin-right: 0px;
  }

  &._100 img {
    margin: auto;
  }

  &._200 img {
    width: 30%;
    margin: auto;
  }

  &.full-screen {
    position: relative !important;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    >div {
      height: 100%;
    }
  }

  &._option1>div {
    border-radius: 25px;
  }

  div {
    position: relative;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;

    >a {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }

  >figcaption {
    color: #000000;
    margin-top: 4px;
    margin-bottom: 2px;

  }

  %caption-shared {
    position: absolute;
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    color: #3f3e3e;
    margin: 0;

    /* before represents the placeholder text*/
    &::before {
      color: #3f3e3e;
    }
  }

  /* class styles for the captions properties of the image component */
  &._caption-inside {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &._caption-none {
    >figcaption {
      display: none;
    }
  }

  &._caption-top {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      top: 0;
      left: 0;
    }
  }

  &._caption-top-left {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      top: 0;
      left: 0;
      width: 30%;
    }
  }

  &._caption-top-right {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      top: 0;
      width: 30%;
    }
  }

  &._caption-bottom-left {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      bottom: 0;
      left: 0;
      width: 30%;
    }
  }

  &._caption-bottom-right {
    >figcaption {
      @extend %caption-shared;
      right: 0;
      bottom: 0;
      width: 30%;
    }
  }

  .image .place-holder:hover {
    top: 0;
    left: 0;
  }

  @media only screen and (max-width: $phone-max-width) {

    /* class styles for the position properties of the image component */
    &._left {
      float: left;
      clear: left;
      width: 46%;
      margin-right: 15px;
      margin-left: 0px;
      z-index: 1;
    }

    &._right {
      float: right;
      clear: right;
      margin-right: 0px;
      width: 46%;
      z-index: 1;
    }
  }
}