.secao_topo_extra_practice{
    height: 32px;
    width: 80%;
    margin: 40px 60px 0px 63px;
    padding: 0 0 0 38px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 20px;
    color: $ing_cor2;
    background-color: #edf8f7;
    border-right: 3px solid #ccebe9;
}
.icone_disciplina_ing_topo_extra{
    background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/ING_para_consolidar.svg");
    width: 32px;
    height: 32px;
    align-items: left;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -10px;
    top: -1px;
    }

.alinhamento{
        display: flex;
        align-items: center;
        }
