.secao_topo_extra_practice {
    margin-left: 10px;
    height: 32px;
    width: 100%;
    margin-top: 40px;
    padding: 0 0 0 38px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    background-color: #edf8f7;
    border-right: 3px solid #ccebe9;
    color: $ing_cor2;

    & .titulo_topo_extra_practice {
        font-family: $fontName;
        font-weight: 700;
        font-size: 1.25rem;
        margin: 0;
    }
}

.icone_disciplina_ing_topo_extra {
    background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/ING_para_consolidar.svg");
    width: 32px;
    height: 32px;
    align-items: left;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: -10px;
    top: -1px;
}

.alinhamento {
    display: flex;
    align-items: center;
}