<div class="container_mapa" doc-container="main" data-doc-label="{{ COMPONENT_CONTAINER_LABEL }}">
  <div class="mapa_titulo_section">
    <img class="mapa_icone" src="https://livro-digital.p4ed.com/assets/icons/dig_mapa.svg" alt="Mapa Ícone">
    <p class="mapa_titulo" doc-editable="text">
      Mapa
    </p>
  </div>
  <div class="mapa_image_section">
    <figure class="image" style="margin: 0;">
      <div doc-image="image" doc-link="hyperlink"></div>
      <figcaption doc-editable="carroussel-caption" style="max-width: 800px; min-width:600px">
          Insira a legenda aqui. Em seguida, tecle Shift + Enter e insira o crédito. Selecione o crédito e
          reduza o
          tamanho da fonte para -4.
      </figcaption>
  </figure>
  </div>

</div>