<figure class="video_popup_center">
    <div class="video_popup__content">
        <a href="#"></a>
        <div class="embed" data-doc-label="{{ COMPONENT_EMBED_LABEL }}">
            <!--             <video width="320" height="240" controls="">
            </video> -->
            <div doc-html="html"></div>
        </div>
        <div class="content-video">
            <p class="content-video__url" doc-editable="video_url"></p>
            <p class="content-video__title" doc-editable="video_title"></p>
            <p class="content-video__text" doc-editable="video_content"></p>
        </div>
    </div>
</figure>