<div class="group-radio" id>
  <div class="container_questao_radio">
    <label class="container">
      <input type="radio" name checked="checked"/>
      <span class="checkmark"></span>
    </label>
    <p class="textradio_inline" doc-editable="radio1">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_radio">
    <label class="container">
      <input type="radio" name />
      <span class="checkmark"></span>
    </label>
    <p class="textradio_inline" doc-editable="radio2">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_radio">
    <label class="container">
      <input type="radio" name />
      <span class="checkmark"></span>
    </label>
    <p class="textradio_inline" doc-editable="radio3">{{TEMPLATE_RADIO}}</p>
  </div>
</div>