<div class='container_fica_a_dica'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-fica_a_dica' for>
        <div class='flex-icon'>
            <div class='flex-icon'>
                <div class="plus"></div>
                <div class="less"></div>
            </div>
            <p class='collapsible-title'>#FICAADICA</p>
        </div>
    </label>
    <div class='collapsible-content-fica_a_dica'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>