<div class="group_checkbox">
  <div class="container_questao_checkbox">
    <label class="container">
      <input type="checkbox"><span class="checkmark"></span></input>
    </label>
    <p class="textradio_inline" doc-editable="checkbox1">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_checkbox">
    <label class="container">
      <input type="checkbox"><span class="checkmark"></span></input>
    </label>
    <p class="textradio_inline" doc-editable="checkbox2">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_checkbox">
    <label class="container">
      <input type="checkbox"><span class="checkmark"></span></input>
    </label>
    <p class="textradio_inline" doc-editable="checkbox3">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_checkbox">
    <label class="container">
      <input type="checkbox"><span class="checkmark"></span></input>
    </label>
    <p class="textradio_inline" doc-editable="checkbox4">{{TEMPLATE_RADIO}}</p>
  </div>
  <div class="container_questao_checkbox">
    <label class="container">
      <input type="checkbox"><span class="checkmark"></span></input><span class="checkmark"></span></input>
    </label>
    <p class="textradio_inline" doc-editable="checkbox5">{{TEMPLATE_RADIO}}</p>
  </div>
</div>