<div class='container_saiba_mais'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-saiba_mais' for>
        <div class='flex-icon'>
            <div class='flex-icon'>
                <div class="plus"></div>
                <div class="less"></div>
            </div>
            <p class='collapsible-title'>SAIBA MAIS</p>
        </div>
    </label>
    <div class='collapsible-content-saiba_mais'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>