<div class='css_06_boxe_fique_ligado'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-fique_ligado' for>
        <div class='flex-icon'>
            <div class="icon_boxe_em_fique_ligado"></div>
            <p class='collapsible-title'>Fique Ligado!</p>
        </div>
        <div class='flex-icon'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-down.svg' class='icon ion-md-add'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-up.svg' class='icon ion-md-remove'>
        </div>
    </label>
    <div class='collapsible-content-em-fique_ligado'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>