<div class='css_06_boxe_em_lingua_inglesa'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-geografia' for>
        <div class='flex-icon'>
            <div class="icon_boxe_em_lingua_inglesa"></div>
            <p class='collapsible-title'>Em Inglês vemos que...</p>
        </div>
        <div class='flex-icon'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-down.svg' class='icon ion-md-add'>
            <img src='https://livro-digital.p4ed.com/assets/icons/lumen/arrow-up.svg' class='icon ion-md-remove'>
        </div>
    </label>
    <div class='collapsible-content-em-lingua_inglesa'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>