<figure class="image2" img-width>
    <img class="_image" doc-image="image2" src="bound-image-url" />
    <figcaption class="slider-subtitle" doc-editable="caption">
        Image caption, sem vel consectetur dignissim, quam felis molestie lorem, eget posuere felis turpis vitae odio.
    </figcaption>
    <figcaption class="slider-credit" doc-editable="credit">
        Image credit, sem vel consectetur dignissim, quam felis molestie lorem, eget posuere felis turpis vitae odio.
    </figcaption>
</figure>